.wrapper {
  padding: 2rem;
  background-color: #eeaf31;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-shadow: -1px 3px 3px rgba(65, 67, 3, 0.8);
  margin-bottom: 40px;
}

.e_vidnovlennya {
  display: inline;
  border-radius: 0.6rem;
  box-shadow: -1px 3px 3px rgba(65, 67, 3, 0.8);
  overflow: hidden;
  max-height: 540px;
}
