.wrapper {
  display: grid;
  place-items: center;
  background: var(--bgColor);
  min-height: 100vh;
}

.navigation {
  display: grid;
  position: relative;
  place-items: center;
  width: 350px;
  height: 60px;
  background: #ddd;
  border-radius: 8px;
}

ul {
  display: flex;
  width: 300px;
}

.list {
  z-index: 1;
  position: relative;
  width: 60px;
  height: 60px;
  list-style: none;
}

.list a {
  display: grid;
  position: relative;
  color: var(--bgColor);
  font-size: 1.4rem;
  line-height: 60px;
  text-align: center;
  /* text-decoration: none; */
  transition: 0.5s;
}

.list.active .icon {
  transform: translateY(-50%);
}

.list .text {
  position: absolute;
  transform: translateY(20px);
  color: var(--bgColor);
  font-size: 0.8rem;
  opacity: 0;
  transition: 0.5s;
}

.list.active .text {
  opacity: 1;
  transform: translateY(10px);
}

.circle {
  position: absolute;
  top: -30px;
  width: 60px;
  height: 60px;
  border: 6px solid var(--bgColor);
  border-radius: 50%;
  background: #2db9f0;
  transition: 0.5s;
}

.circle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  border-top-right-radius: 20px;
  background: transparent;
  box-shadow: 0 -10px 0 0 var(--bgColor);
}

.circle::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  border-top-left-radius: 20px;
  background: transparent;
  box-shadow: 0 -10px 0 0 var(--bgColor);
}

li:nth-child(1).active ~ .circle {
  transform: translateX(0);
}

li:nth-child(2).active ~ .circle {
  transform: translateX(60px);
}

li:nth-child(3).active ~ .circle {
  transform: translateX(120px);
}

li:nth-child(4).active ~ .circle {
  transform: translateX(180px);
}

li:nth-child(5).active ~ .circle {
  transform: translateX(240px);
}
