.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeaf31;
  /* background-image: url('../images/mainImg.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}
.text {
  padding: 0 8px;
  margin-top: 20px;
  text-align: start;
  font-size: 1.3rem;
  font-weight: 300;
}

.title {
  margin-bottom: 12px;
}
