.wrapper {
  padding: 40px 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeaf31;
  /* background-image: url('../images/mainImg.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.text {
  margin-top: 20px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
}

.title {
  margin-bottom: 12px;
}

.aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.titleSpan {
  color: #1e2022;
}
