.wrapper {
  padding: 40px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeaf31;

  height: 100%;
}
.text {
  margin-top: 20px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-shadow: -1px 3px 3px rgba(65, 67, 3, 0.8);
  margin-bottom: 30px;
}

.aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  flex-direction: column;
}

.titleSpan {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  text-shadow: -1px 3px 3px rgba(65, 67, 3, 0.8);
  margin-bottom: 30px;
}
