/* src/components/ProductsList.module.css */
.wrapper {
  /* padding: 40px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; */
  padding: 0.8rem;
  /* background-color: #eeaf31; */
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: black;
  text-shadow: -1px 3px 3px rgba(65, 67, 3, 0.4);
  margin: 40px 0;
}

/* .productsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
  max-width: 1200px;
} */

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 18px;
  gap: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 6px #9e9e9e;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
  max-width: 200px;
}

.productCard:hover {
  box-shadow: -2px 3px 16px -1px rgba(28, 29, 33, 0.75); /* Темніша тінь при ховері */
  transform: scale(1.01); /* Легке збільшення розміру при ховері */
}

.productImage {
  /* max-width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: contain; */
  margin-bottom: 12px;
  border-radius: 8px 8px 0 0;
}

.productLabel {
  font-size: 1.1rem;
  font-weight: 500;
  color: #1e2022;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 14px;
}
.productButton {
  border-radius: 0 0 8px 8px;
  padding: 10px 22px 10px 22px;
  background-color: #bd3737;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    color: yellow;
    box-shadow: #f9c301 0 3px 6px;
    transition: 0.5s all ease;
  }
}

/* Desktop Styles */
@media (min-width: 767px) {
  .productsList {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    justify-items: center;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    display: flex;
    /* gap: 2rem; */
    padding: 5rem 0.8rem;

    align-items: stretch;
    flex-direction: column;
  }

  .productsList {
    grid-template-columns: repeat(4, 1fr);
  }

  .productsList {
    gap: 3rem;
  }

  .productCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;

    gap: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 6px #9e9e9e;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease,
      box-shadow 0.3s ease;
  }

  /* .wrapper {
    display: flex;

    padding: 5rem 0.8rem;
    background-color: #eeaf31;
    flex-direction: column;

    align-items: center;
  } */

  .title {
    margin-bottom: 4rem;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
  }
}
