.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeaf31; /* Фон для контейнера */

  padding: 2rem 0 0 0;
  /* position: relative; */
  overflow: hidden; /* Приховує зайве відео */
}

.video {
  width: 100vw; /* Ширина плеєра на всю ширину вікна */
  height: 100vh; /* Висота на всю висоту вікна */
  object-fit: cover; /* Масштабування відео без зміни пропорцій */
}

/* .videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: #eeaf31;
}

.video {
  display: block;
  border-radius: 6px;
  min-width: 350px;
  max-width: 600px;
  height: auto;
} */
